#page-vote-manager {
  width: 100vw;
  height: 100vh;
}

#content {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  display: flex;
}

#meet {
  margin: 5rem 10rem;
  width: 65%;
  height: 55%;
  background-color: #fff;
  border-radius: 1%;
  text-align: center;
}

.current-voter {
  width: 20%;
  height: 55%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.current-voter h1 {
  font-size: 2.4rem;
  font-weight: 500;
  font-family: Quicksand;
  color: var(--color-text-base);
}
