#page-voter-login {
  width: 100vw;
  height: 100vh;
}

#box {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
  align-items: center;
}

#login-box {
  background: var(--color-box-base);
  border: 1px solid var(--color-line-in-white);
  border-radius: 0.8rem;
  margin: 2.4rem;
  overflow: hidden;
  height: 26rem;
  width: 40rem;
}

#login-box .login-form {
  display: flex;
  flex-direction: column;
}

.login-form .input-block {
  padding: 2rem;
}

.login-form button {
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 1rem;
}

.login-form .input-block input {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1rem;
  font: 1.6rem Quicksand;
}

@media (min-width: 700px) {
  #page-voter-login {
    max-width: 100vw;
  }
}
